.CV {
  grid-row: 3 / 4;
  min-width: 95vw;
  height: calc(95vw * 1.294);
  padding: 1.5rem;
  border: 1px solid rgb(156, 156, 156);
  box-shadow: 0px 0px 10px;
}

.CV .personal {
  display: grid;
  grid: 1fr 1fr 1fr / 60% 40%;
  justify-items: end;
  align-items: center;
  border: none;
  border-bottom: 4px solid black;
  font-weight: 600;
}

.CV .personal * {
  border: none;
  padding-bottom: 1rem;
}

.CV .personal .name {
  grid-area: 1 / 1 / 3 / 2;
  justify-self: start;
  font-size: 2.2rem;
  font-weight: 700;
}

.CV .personal .email {
  grid-area: 1 / 2 / 2 / 3;
}

.CV .personal .phone {
  grid-area: 2 / 2 / 3 / 3;
}

.CV .personal .address {
  grid-area: 3 / 2 / 4 / 3;
}

.CV .personal .description {
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  font-size: 1.5rem;
  font-weight: 500;
  overflow: hidden;
}

.CV .work,
.CV .education {
  display: grid;
  grid: 1rem 1fr / 3fr 3fr 1fr 1fr 1fr;
  gap: 1rem;
  padding-bottom: 1rem;
}

.CV .workContainer,
.CV .educationContainer {
  border: none;
  display: grid;
}

.CV .workContainer *,
.CV .educationContainer * {
  border: none;
}

.CV .title,
.CV .course {
  grid-area: 1 / 1 / 2 / 2;
  font-weight: 600;
  white-space: nowrap;
}

.CV .company,
.CV .school {
  grid-area: 1 / 2 / 2 / 3;
  justify-self: end;
  padding-right: 1rem;
  font-weight: 600;
  white-space: nowrap;
}

.CV start {
  grid-area: 1 / 3 / 2 / 4;
  justify-self: end;
}

.CV .dash {
  grid-area: 1 / 4 / 2 / 5;
  justify-self: center;
}

.CV .end {
  grid-area: 1 / 5 / 2 / 6;
}

.CV .description {
  grid-area: 2 / 1 / 3 / 6;
}

@media screen and (max-width: 600px) {
  .CV * {
    font-size: 0.6rem;
  }

  .CV .personal * {
    padding-bottom: 0.6rem;
  }

  .CV .personal .name {
    font-size: 1.32rem;
  }
  .CV .personal .description {
    font-size: 0.9rem;
  }

  .CV .work,
  .CV .education {
    gap: 0.6rem;
    padding-bottom: 0.6rem;
  }

  .CV .company,
  .CV .school {
    padding-right: 0.6rem;
  }
}

@media screen and (min-width: 1080px) {
  .CV {
    grid-area: 2 / 2 / 3 / 3;
    min-width: 480px;
    width: 40vw;
    height: calc(40vw * 1.294);
  }
}
